/*
    1. Main
    2. Navbar
    3. Home
    4. Template 1
    5. Template 2
    6. Footer
*/

/* 1. Main */
body{
    background-color: #E0E0E0;
}
@font-face {
    font-family: mainText;
    src: url('./fonts/oswald-v53-latin-regular.woff2');
}
.container{
    width:1520px;
    margin:auto;
}

/* 2. Navbar */
.header{
    width: inherit;
    height: 56px;
    background-color: #F0F0F0;
}
.logo{
    width: 50px;
    height: 50px;
    float: left;
}
.logo img{
    width: inherit;
}
.header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: mainText,serif;
}
.header li{
    float: left;
}
.header li a{
    display: block;
    color: #0F0F0F;
    text-align: center;
    text-decoration: none;
    padding: 16px 15px;
}
.header li a:hover{
    background-color: #0000000F;
}
.active{
    background-color: darkolivegreen;
}

/* 3. Home */
.home-cover{
    width:100%;
    height:400px;
    float: left;
}
.home-text{
    width: 50%;
    height: 450px;
    float: left;
    background-color: white;
}
.home-form {
    width: 50%;
    height: 450px;
    background-color: white;
    float: right;
}
.mainText{
    font-family: mainText;
    font-size: 25px;
    margin: 25px;
}
.mainForm{
    font-family: mainText;
    font-size: 25px;
    margin: 25px;
}
.mainForm .dropdown{
    text-align: center;
    height: 40px;
    width: 200px;
    font-family: mainText;
    font-size: 20px;
    overflow:hidden;
}
.mainForm .submit {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 12px 10px;
    font-family: mainText;
    font-size: 20px;
    background-color: darkolivegreen;
}

/* 4. Template 1 */
.tplt1-cover{
    width: 100%;
    height: 400px;
    float: left;
}
.tplt1-text{
    width: 100%;
    height: inherit;
    float: left;
    background-color: white;
}
.tplt1-text img{
    height: 200px;
    margin: 10px;
    float: left;
}


/* 5. Template 2 */
.tplt2-cover{
    width: 50%;
    height: 850px;
    float: right;
}
.tplt2-text{
    width: 50%;
    height: 850px;
    float: left;
    background-color: white;
}
.tplt2-text table{
    margin: 50px;
}
.tplt2-text td{
    font-family: mainText;
    src: url('./fonts/oswald-v53-latin-regular.woff2');
    font-size: 40px;
}
.tplt2-text img{
    width: 250px;
}
.tplt2-text ul{
    margin: 50px;
    font-family: mainText;
    src: url('./fonts/oswald-v53-latin-regular.woff2');
    font-size: 40px;
}

/* 6. Footer */
.footer{
    width: 100%;
    height: 20px;
    background-color: #F0F0F0;
    float: left;
}